<main class="container">

  <div class="cryptography">
    <h2>Criptografia</h2>

    <section>
      <article class="cryptography-article">
        <h3>O que é Criptografia?</h3>
        <p>
          A criptografia é a prática e o estudo de técnicas para comunicação segura na presença de terceiros. Ela visa
          proteger a confidencialidade e a integridade das informações, transformando dados legíveis em um formato
          ilegível para aqueles que não possuem a chave de decriptação adequada. Existem diversos métodos de
          criptografia, incluindo cifras de substituição e transposição, que são fundamentais para a segurança de
          dados nos dias de hoje.
        </p>
      </article>

      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qHFbuXpz7e4"
          title="Criptografia - Código Fonte TV" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </section>
  </div>

  <div class="cryptography-caesar-cipher">
    <h2>A Cifra de César</h2>

    <section>
      <article class="cryptography-article">
        <h3>Como Funciona a Cifra de César</h3>
        <p>
          A Cifra de César é uma das mais antigas e conhecidas técnicas de criptografia. Ela foi usada por Júlio César
          para proteger mensagens confidenciais, substituindo cada letra do texto simples por outra letra, deslocada
          um
          número fixo de posições no alfabeto.
        </p>
      </article>

      <div class="video-container">
        <h4>Assista ao vídeo sobre a Cifra de César no <strong>Khan Academy Brasil</strong>:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0QKpOnneVzE"
          title="Cifra de César - Khan Academy Brasil" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </section>
  </div>

  <div class="cryptography-transposition-algorithm">
    <h2>Cifra de Transposição</h2>

    <section>
      <article class="cryptography-article">
        <h3>Como Funciona a Cifra de Transposição</h3>
        <p>
          A Cifra de Transposição foca em reordenar as letras do texto simples em vez de substituí-las. Um exemplo
          clássico
          é escrever o texto em uma grade com um número fixo de colunas e depois reorganizá-lo coluna por coluna.
        </p>
      </article>

      <div class="video-container">
        <h4>Assista ao vídeo sobre a Cifra de Transposição no <strong>Ganesh ICMC</strong>:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aCNasizUDyE"
          title="Ping 2021: Aula 0x0B - Cifras de Transposição" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </section>
  </div>

  <div class="cryptography-unique-key">
    <h2>Chave Única</h2>

    <section>
      <article class="cryptography-article">
        <h3>O que é uma Chave Única?</h3>
        <p>
          Uma chave única é usada para criptografar mensagens através da tabela ASCII e a lógica de porta exclusiva
          (XOR), garantindo a confidencialidade dos dados.
        </p>
      </article>

      <div class="video-container">
        <h4>Assista ao vídeo sobre Chave Única no <strong>Khan Academy Brasil</strong>:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ql_4V2v6BrE"
          title="Cifra de chave única | Uma jornada pela criptografia | Fisica | Khan Academy" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </section>
  </div>
</main>