<div class="cipher-container">
  <h2>Cifra de Transposição</h2>

  <form [formGroup]="transpositionCiphersForm" class="cipher-form">

    <label for="inputText">Texto:</label>
    <textarea id="inputText" formControlName="inputText" rows="4" class="cipher-textarea"></textarea>
    <button type="button" (click)="clearInput()" class="action-button">Limpar</button>


    <label for="key">Chave (sem letras repetidas):</label>
    <input id="key" formControlName="key" type="text" class="cipher-input">


    <div class="button-container">
      <button type="button" (click)="encrypt()" class="action-button"
        [disabled]="transpositionCiphersForm.invalid">Criptografar</button>
      <button type="button" (click)="decrypt()" class="action-button"
        [disabled]="transpositionCiphersForm.invalid">Descriptografar</button>
    </div>
  </form>


  <p class="result-text"><strong>Resultado:</strong> {{ resultText }}</p>


  <button *ngIf="resultText" type="button" (click)="copyToClipboard()" class="action-button">Copiar</button>


  <p *ngIf="copiedMessage" class="copied-message">{{ copiedMessage }}</p>
</div>