<div class="otp-container">
  <h1>Cifra de Chave Única (One-Time Pad)</h1>

  <form [formGroup]="otpForm" class="cipher-form">
    <!-- Campo de texto -->
    <label for="inputText">Texto:</label>
    <textarea id="inputText" formControlName="inputText" rows="4" class="cipher-input"></textarea>

    <!-- Campo de chave -->
    <label for="key">Chave:</label>
    <input id="key" formControlName="key" type="text" class="cipher-input">

    <!-- Botões de ação -->
    <div class="button-container">
      <button type="button" (click)="encrypt()" class="action-button" [disabled]="otpForm.invalid">Criptografar</button>
      <button type="button" (click)="decrypt()" class="action-button"
        [disabled]="otpForm.invalid">Descriptografar</button>
      <button type="button" (click)="clearInput()" class="action-button">Limpar</button>
    </div>
  </form>

  <!-- Exibição do resultado -->
  <p *ngIf="resultText" class="result-text"><strong>Resultado:</strong> {{ resultText }}</p>

  <!-- Botão de copiar, visível apenas se houver texto no resultado -->
  <button *ngIf="resultText" type="button" (click)="copyToClipboard()" class="action-button">Copiar</button>

  <!-- Mensagem de confirmação de cópia -->
  <p *ngIf="copiedMessage" class="copied-message">{{ copiedMessage }}</p>
</div>