<div class="otp-container">
  <h1>Cifra de Chave Única </h1>

  <form [formGroup]="otpForm" class="cipher-form">
    <label for="inputText">Texto:</label>
    <textarea id="inputText" formControlName="inputText" rows="4" class="cipher-input"></textarea>
    <div *ngIf="otpForm.get('inputText')?.invalid && otpForm.get('inputText')?.touched" class="error-message">
      O texto é obrigatório.
    </div>

    <label for="key">Chave:</label>
    <input id="key" formControlName="key" type="text" class="cipher-input">
    <div *ngIf="otpForm.get('key')?.invalid && otpForm.get('key')?.touched" class="error-message">
      A chave é obrigatória.
    </div>

    <div class="button-container">
      <button type="button" (click)="encrypt()" class="action-button" [disabled]="otpForm.invalid">Criptografar</button>
      <button type="button" (click)="decrypt()" class="action-button"
        [disabled]="otpForm.invalid">Descriptografar</button>
      <button type="button" (click)="clearInput()" class="action-button">Limpar</button>
    </div>
  </form>

  <p *ngIf="resultText" class="result-text"><strong>Resultado:</strong> {{ resultText }}</p>

  <button *ngIf="resultText" type="button" (click)="copyToClipboard()" class="action-button">Copiar</button>
  <p *ngIf="copiedMessage" class="copied-message">{{ copiedMessage }}</p>
</div>